In [1]:
# capitalize: Converts first character to Capital Letter
name = "muhammad waleed khan"
print(name.capitalize())

Muhammad waleed khan

In [2]:
string = "Bahria University"
print(string.center(30))
# optional parameter
string = "Bahria University"
print(string.center(30,'-'))

      Bahria University
------Bahria University-------

In [3]:
# encode: returns encoded string of given string
string = "ABASYN UNIVERSITY!"
print(string)
print(string.encode())

ABASYN UNIVERSITY!
b'ABASYN UNIVERSITY!'

In [4]:
# casefold: converts to casefolded(lower case) strings
name = "mUAHhAMMAD walEEd Khan"
print(name.casefold())

muahhammad waleed khan

In [8]:
# count: returns occurrences of substring in string
string = "The quick fox jumped over the lazy dog."
print(string.count("o"))

string = "The quick fox jumped over the lazy dog."
print(string.count("the"))

# optional parameters count("substring",start,end")
string = "The quick fox jumped over the lazy dog."
print(string.count("o",4,14))

3
1
1

In [23]:
# endswith: Checks if String Ends with the Specified Suffix
string = "I am a Pakistani and i love Pakistan!."
print(string.endswith("i love Pakistan!."))
print(string.endswith("i love pakistan."))

# parameters("string,start,end")
print(string.endswith("i love pakistan.",0,20))

True
False
False

In [26]:
# center: Pads string with specified character, parameters(width,fillchar)
string = "Bahria University"
print(string.center(30))
# optional parameter
string = "Bahria University"
print(string.center(30,'-'))

      Bahria University
------Bahria University-------

In [30]:
# expandtabs: Replaces Tab character With Spaces
string = "PIAIC ARTIFICIAL\tINTELLIGENNCE"
print(string.expandtabs())
print(string.expandtabs(4))
print(string.expandtabs(30))

PIAIC ARTIFICIAL        INTELLIGENNCE
PIAIC ARTIFICIAL    INTELLIGENNCE
PIAIC ARTIFICIAL              INTELLIGENNCE

In [32]:
# format: formats string into nicer output
print("hello {}, TIME {}".format("waleed khan","10:30 AM"))
print("hello {1}, TIME {0}".format("waleed khan","10:30 AM"))
print("hello {0}, TIME {1}".format("waleed khan","10:30 AM"))
# working with dict
point = {'x':4,'y':-4}
print('{x},{y}'.format(**point))
print('{y},{x}'.format(**point))

hello waleed khan, TIME 10:30 AM
hello 10:30 AM, TIME waleed khan
hello waleed khan, TIME 10:30 AM
4,-4
-4,4

In [33]:
# index: Returns Index of Substring
string = "The quick fox jumped over the lazy dog."
print(string.index('jumped'))

print(string.index('jumped',12 ,48))

14
14

In [34]:
# find: Returns the index of first occurrence of substring
string = "The quick fox jumped over the lazy dog."
print(string.find("lazy"))

print(string.find("lazy",20,30))
print(string.find("lazy",8,30))

30
-1
-1

In [35]:
# format_map: Formats the String Using Dictionary
point = {'x':4,'y':-4}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -4
4 -5 0

In [36]:
# isalnum: Checks Alphanumeric Character
string = "error404"
print(string.isalnum())
string1 = "122312"
print(string1.isalnum())
string1 = "abcefha"
print(string1.isalnum())
string1 = "waleed@123"
print(string1.isalnum())

True
True
True
False

In [37]:
# isdigit
string = "waleed"
print(string.isdigit())

string = "1"
print(string.isdigit())

False
True

In [39]:

# isprintable
string = 'b a h r i a u n i v e r s i t y'
print(string.isprintable())

True

In [40]:
# isalpha
string = "piaic"
print(string.isalpha())

string = "bahri university"
print(string1.isalpha())

True
False

In [41]:
# isdecimal
string = "69"
print(string.isdecimal())

string = "123.09"
print(string.isdecimal())

True
False

In [42]:
# islower
string = "bahria university"
print(string.islower())

s = "Bahria University"
s.islower()

True

False

In [43]:

# isidentifier
string = 'def'
print(string.isidentifier())

word = 'c++'
print(word.isidentifier())

s = "python"
s.isidentifier()

True
False

True

In [44]:
# isspace
string = "                   "
print(string.isspace())


string = "   space        "
print(string.isspace())

True
False

In [45]:
# isupper
string = "CAPITALIZED"
print(string.isupper())

string = "my name is waleed khan"
print(string.isupper())

True
False

In [46]:
# ljust: returns left-justified string of given width
s = "waleed"
print(s.ljust(10) + "khan")
print(s.ljust(10,'-') + "khan")

waleed    khan
waleed----khan

In [50]:
# istitle
string = "my name is waleed"
print(string.istitle())

string = "My Name Is Waleed"
print(string.istitle())

string = "My name is Waleed"
print(string.istitle())
string = "9 Is My @ Fav Number"
print(string.istitle())

False
True
False
True

In [51]:
# join : returns a concatinated string
string = 'waleed khan'
sep = ','
print(sep.join(string))

w,a,l,e,e,d, ,k,h,a,n

In [52]:

# strip , rstrip, lstrip
s = "   Bahria    University    Islamabad   "
print(s.strip())
print(s.strip('zindabad'))
print(s.lstrip())
print(s.rstrip())

Bahria    University    Islamabad
   Bahria    University    Islamabad
Bahria    University    Islamabad
   Bahria    University    Islamabad

In [54]:
# rpartition
string = "i am waleed"
print(string.rpartition('am '))

('i ', 'am ', 'waleed')

In [55]:
# splitlines: Splits String at Line Boundaries and returns a list
grocery = 'Islamabad\nPindi\r\nSindh\rKarachi'

print(grocery.splitlines())
print(grocery.splitlines(True))

grocery = 'Islamabad Pindi Sindh Karachi'
print(grocery.splitlines())

['Islamabad', 'Pindi', 'Sindh', 'Karachi']
['Islamabad\n', 'Pindi\r\n', 'Sindh\r', 'Karachi']
['Islamabad Pindi Sindh Karachi']

In [56]:
# swapcase: swap uppercase characters to lowercase; vice versa
string = "BAHRIA university"
print(string.swapcase())

bahria UNIVERSITY

In [58]:
# split : Splits String from Left and returns a list
string = "My name is Waleed"
print(string.split())

print(string.rsplit())

['My', 'name', 'is', 'Waleed']
['My', 'name', 'is', 'Waleed']

In [59]:
# startswith and endswith
string =  "The quick fox jumped over the lazy dog."
print(string.startswith('Is'))
print(string.endswith("dog"))
print(string.endswith('dog.'))

False
False
True

In [61]:
# zfill: returns a copy of the string with '0' characters padded to the left.
text = "program is fun"
print(text.zfill(15))
print(text.zfill(20))
print(text.zfill(10))

0program is fun
000000program is fun
program is fun

In [77]:
#PYTHON ARITHMATIC OPERATORS
x=10
c="waleed"
y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

30
-10
200
0.5
10
100000000000000000000
0

In [87]:
#PYTHON ASSIGNMENT OPERATORS
x=5
print(x)
x += 1
print(x)
x -= 2
print(x)
x *= 2
print(x)
x //= 2
print(x)
x **= 2
print(x)
x &= 2
x |= 2
print(x)
x ^= 2
print(x)
x >>= 2
print(x)
x <<= 2
print(x)

5
6
4
8
4
16
2
0
0
0

In [101]:
#PYTHON COMPARISON OPERATORS
x = 5
y = 6
isEqual = True if x==6 else False
print(isEqual)
isNotEqual = True if x != y else False
print(isNotEqual)
isGreater = True if x>y else False
print(isGreater)
isLesser = True if x<6 else False
print(isLesser)
isGreaterEqual = True if x >= y else False
print(isGreaterEqual)
isLesserEqual = True if x <= y else False
print(isLesserEqual)

False
True
False
True
False
True

In [107]:
#PYTHON LOGICAL OPERATORS
x= 10
andOp = True if x < 10 and x > 2 else False
print(andOp)
orOp = True if x <= 10 and x >= 1 else False
print(orOp)

False
True